<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Fabricante | CapilarDía</title>

    

</head>

<body>

<div class="contenedor">

    <h1 th:text="${fabricante.idFabricante == 0
                    ? 'Nuevo fabricante'
                    : 'Editar fabricante'}">

        Fabricante

    </h1>

    <form th:action="@{/fabricantes/guardar}"
          th:object="${fabricante}"
          method="post">

        <input type="hidden"
               th:field="*{idFabricante}">

        <label>Nombre</label>

        <input type="text"
               th:field="*{nombre}"
               required>

        <label>Descripción</label>

        <textarea th:field="*{descripcion}"
                  required></textarea>

        <label>Dirección</label>

        <input type="text"
               th:field="*{direccion}"
               required>

        <label>Teléfono</label>

        <input type="text"
               th:field="*{telefono}"
               required>

        <div class="botones">

            <button type="submit">
                Guardar
            </button>

            <a th:href="@{/fabricantes}"
               class="volver">
                Cancelar
            </a>

        </div>

    </form>

</div>

</body>

</html>